$min-sm:600px;
$min-md:768px;
$min-lg:992px;
$min-xl:1200px;

$color_1: #000;
$color_2: #fff;
$color_3: rgb(34, 48, 255);
$color_4: rgb(100, 100, 100);

$title_font: 'Inria Sans', sans-serif;
$body_font: 'Roboto', sans-serif;